h1 {
	font-size: $h1-font-size-small;
	@include break-sm {
		font-size: $h1-font-size;
	}
}
h2 {
	font-size: $h2-font-size-small;
	@include break-sm {
		font-size: $h2-font-size;
	}
}
h3 {
	font-size: $h3-font-size-small;
	@include break-sm {
		font-size: $h3-font-size;
	}
}
h4 {
	font-size: $h4-font-size-small;
	@include break-sm {
		font-size: $h4-font-size;
	}
}
