//
// COMPONENTS - MAIN STAT
//__________________________________________________

.main-stat {
	width: 7.18rem;
	position: relative;
	margin: auto;
	.main-stat-value,
	.main-stat-title {
		position: absolute;
	}
	.main-stat-value {
		top: 1.5rem;
		right: 0;
		left: 0;
		margin: auto;
		text-align: center;
		font-size: 2rem;
		font-weight: 800;
	}
	.main-stat-title {
		bottom: 1.75rem;
		right: 0;
		left: 0;
		text-align: center;
	}
}
