//
// COMPONENTS - TOOL ICON
//__________________________________________________

.tool-main {
	max-width: auto !important;
}

.tool-icon {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin-bottom: 2rem;
	text-align: center;
	.tool-icon-title {
		font-size: $h3-font-size-small;
		font-weight: 200;
		@include break-sm {
			font-size: $h3-font-size;
		}
	}
	img {
		max-width: 150px;
		width: 100%;
		max-height: 150px;
		height: auto;
		margin: auto;
	}
}
